<div class="create-wrapper">
  <h2>Додати елемент</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="field-block">
      <label>Назва</label>
      <input formControlName="title">
      <div class="error-msg" *ngIf="form.controls.title.touched && form.controls.title.invalid">
        Поле "Назва" є обов’язковим
      </div>
    </div>

    <div class="field-block">
      <label>Категорія</label>
      <input formControlName="category">
      <div class="error-msg" *ngIf="form.controls.category.touched && form.controls.category.invalid">
        Поле "Категорія" не може бути порожнім
      </div>
    </div>

    <div class="field-block">
      <label>Опис</label>
      <textarea rows="3" formControlName="description"></textarea>
      <div class="error-msg" *ngIf="form.controls.description.touched && form.controls.description.invalid">
        Мінімум 10 символів
      </div>
    </div>

    <div class="field-block">
      <label>Тривалість (хв)</label>
      <input type="number" formControlName="duration">
      <div class="error-msg" *ngIf="form.controls.duration.touched && form.controls.duration.invalid">
        Вкажіть тривалість
      </div>
    </div>

    <div class="field-block">
      <label>Ціна</label>
      <input type="number" formControlName="price">
      <div class="error-msg" *ngIf="form.controls.price.touched && form.controls.price.invalid">
        Вкажіть ціну
      </div>
    </div>

    <button class="submit-btn" [disabled]="form.invalid">Створити</button>

  </form>
</div>
